.calc{
	border: 5px Double;
	border-color: #8C5C00;
	background-color: #FFEFD5;
	width: 350px;
}

.calc td{
	border: 0px  solid;
	text-align: center;
	vertical-align: middle;
}

.calc a:link img {
	border: 2px solid;
	border-color: Black;
}
.calc a:visited img {
	border: 2px solid;
	border-color: Black;
}

.calc a:hover img {
	border: 3px solid;
	border-color: #228B22;
	background-color: Blue;
}



.calc #css_display{
	border: 3px solid;
	background-color: White;
	vertical-align: middle;
	padding-right: 8px;
	text-align: right;
}
.calc #sep{
	border: 2px solid;
	background-color: #FFDD9D;
	vertical-align: middle;
}
#result{
	text-align: center;

}
#front_end {
	position:absolute;
	left:14px;
	top:11px;
	width:299px;
	height:188px;
	z-index:2;
}
#back_end {
	display: none;
	position:absolute;
	left:400px;
	top:50px;
	width:177px;
	height:190px;
	z-index:1;
}
#continha{
	position:absolute;
	left:320px;
	top:70px;
	width:177px;
	height:190px;
	z-index:1;

}
